# Exclude Visual Code workspace
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Exclude elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Exclude IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Exclude node modules
**/node_modules
npm-debug.log
yarn-error.log

# Exclude compiled files
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Exclude protected files
.env
.env.development
.env.test
environment.prod.ts
securitygroup.config

# Exclude built database
**/data

# Exclude zip files
**/*.zip

# Exclude miscellaneous
**/.angular/cache
.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
testem.log
**/typings

# Exclude System files
.DS_Store
Thumbs.db